<% if current_user.id == @work.request.client_id && @work.request.status == 1 %>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
            <img class="rounded img-fluid card-img-top mt-3" src="<%= gravatar_url(current_user, { size: 300 }) %>" alt="">
            <p class="card-text text-center mt-2"><%= link_to current_user.name, user_path(current_user.id) %></p>
          </div>
        </div>
      </div>
      <div class="col-md-10 text-center">
        <h1 class="dark text-monospace mb-5 p-3 text-center">作業確認</h1>
        <div class="card text-center mb-5 shadow">
          <div class="card-header bg-primary">
            <h3 class="card-title text-light">作業内容</h3>
          </div>
          <div class="card-body mb-5">
            <h4><%= @talk_report.first.content %></h4>
          </div>
        </div>
        <div class="text-center shadow rounded mb-5">
          <%= form_with(model: @resubmit, local: true) do |f| %>
            <%= render 'layouts/error_messages', model: f.object %>
            <%= hidden_field_tag :work_id, @work.id %>
            <%= hidden_field_tag :status_id, 3 %>
            <%= f.text_area :content, class: 'form-control', rows: 3 %>
            <%= f.submit '修正依頼をする', class: 'btn btn-primary' %>
          <% end %>
        </div>
        
        <h3 class="p-3 bg-success text-light mt-5">依頼の完了</h3>
        
        <div class="rating-box mt-3">
          <%= form_with(model: @worker_evaluation, local:true) do |f| %>
            <%= render 'layouts/error_messages', model: f.object %>
            <%= f.hidden_field :work_id, value: @work.id %>
            <div class="bg-secondary p-2"><%= f.label :content, '受注者へメッセージ', class: 'text-light' %></div>
            <%= f.text_area :content, class: "form-control", rows: 5 %>
            
            <div class="form-group" id="star">
              <%= f.label :evaluation, "評価" %>
              <%= f.hidden_field :evaluation, id: :review_star %>
              
            </div>
            <div class="bg-primary">
              <i class="fab fa-twitter"></i>
              <%= f.label :content, 'ツイート (70文字以内)', class: 'text-light' %> 
            </div>
            <%= f.text_area :tweet, class: "form-control", rows: 5 %>
            <%= f.submit "ツイートして完了", class: "btn btn-primary mt-3 mb-5" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
  
  <script>
    
     $('#star').raty({
     size: 36,
     starOff: "<%= asset_path('star-off.png') %>",
     starOn: "<%= asset_path('star-on.png') %>",
     starHalf: "<%= asset_path('star-half.png') %>",
     scoreName: 'worker_evaluation[evaluation]', //# reviewカラムに保存するので忘れないように
     half: true, //# ★の半分の入力を行う
   });
    
  </script>
<% end %>
  
  
  <%#= javascript_include_tag "works.js" %>