<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="card">
        <div class="card-body">
          <img class="rounded img-fluid card-img-top mt-3" src="<%= gravatar_url(current_user, { size: 300 }) %>" alt="">
          <p class="card-text text-center mt-2"><%= link_to current_user.name, user_path(current_user.id) %></p>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <h1 class="text-center text-dark text-monospace mb-5 p-3"><i class="fas fa-caret-square-right mr-3"></i>現在進行中の仕事</h1>
      
      <!- status 2 worker ->
      <% if @done_works %>
        <% @done_works.each do |work| %>
          <% if work.works.first.client_evaluations.empty? %>
            <li class="row ml-3 mb-3 bg-white shadow border rounded">
              <div class="col-md-10">
                <h4 class="mb-3 p-2 bg-success border-bottom rounded"><%= link_to work.title, work_path(work.works.first), class: 'text-light' %></h4>
                <div class="row md-4">
                  <div class="col-md-6">
                    <p class="font-weight-lighter text-warning">依頼完了　クライアントの評価をしてください。</p>
                  </div>
                  <div class="col-md-6">
                    <p><%= link_to '完了画面へ', done_work_path(work.works.first), class: 'btn btn-success' %></p>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="text-center">
                  <p class="text-center text-dark text-monospace mt-2">Client</p>
                  <img class="rounded" src="<%= gravatar_url(work.client, { size: 70 }) %>" alt="">
                  <p><%= link_to work.client.name, user_path(work.client) %></p>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
      <% end %>
      
      <!- client ->
      <% if @client_works %>
        <% @client_works.each do |work| %>
          <li class="row ml-3 mb-3 bg-white shadow border rounded">
            <div class="col-md-10">
              <h4 class="mb-3 p-2 border-bottom"><%= link_to work.title, work_path(work.works.first), class: 'text-info' %></h4>
              <div class="row md-4">
                <div class="col-md-6">
                  <% if work.deadline.nil? %>
                    <p class="font-weight-lighter">納品期限　: 未定</p>
                  <% else %>
                    <p class="font-weight-lighter">納品期限　あと: <%= (work.deadline - Date.today).to_i %> 日</p>
                  <% end %>
                  <h3><span class="badge badge-warning"><i class="fas fa-crown"></i></span></h3>
                </div>
                <div class="col-md-6">
          
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="text-center">
                <p class="text-center text-dark text-monospace mt-2">Worker</p>
                <img class="rounded" src="<%= gravatar_url(work.workings.first, { size: 50 }) %>" alt="">
                <p><%= link_to work.workings.first.name, user_path(work.workings.first) %></p>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
      
      <!- work ->
      <% if @worker_works %>
        <% @worker_works.each do |work| %>
          <li class="row ml-3 mb-3 bg-white shadow border rounded">
            <div class="col-md-10">
              <h4 class="mb-3 p-2 border-bottom"><%= link_to work.title, work_path(work.works.first), class: 'text-info' %></h4>
              <div class="row md-4">
                <div class="col-md-6">
                  <% if work.deadline.nil? %>
                    <p class="font-weight-lighter">納品期限　: 未定</p>
                  <% else %>
                    <p class="font-weight-lighter">納品期限　あと: <%= (work.deadline - Date.today).to_i %> 日</p>
                  <% end %>
                </div>
                <div class="col-md-6">
                  
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="text-center">
                <p class="text-center text-dark text-monospace mt-2">Client</p>
                <img class="rounded" src="<%= gravatar_url(work.client, { size: 70 }) %>" alt="">
                <p><%= link_to work.client.name, user_path(work.client) %></p>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

