<% if @work.worker_id == current_user.id || @work.request.client_id == current_user.id %>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
            <img class="rounded img-fluid card-img-top mt-3" src="<%= gravatar_url(current_user, { size: 300 }) %>" alt="">
            <p class="card-text text-center mt-2"><%= link_to current_user.name, user_path(current_user.id) %></p>
          </div>
        </div>
      </div>
      <div class="col-md-10 border shadow">
        <ul class="nav nav-tabs nav-justified mb-3">
          <li class="nav-item"><a href="<%= work_path(@work) %>" class="nav-link <%= 'active' if current_page?(work_path(@work)) %>">メッセージ画面</a></li>
          <li class="nav-item"><a href="<%= content_work_path(@work) %>" class="nav-link <%= 'active' if current_page?(content_work_path(@work)) %>">依頼内容</a></li>
        </ul>
        <div class="row bg-dark mb-3">
          <div class="col-md-9">
            <h3 class=" text-light p-3"><%= @work.request.title %></h3>
          </div>
          <div class="col-md-3">
            <% if @work.deadline.nil? %>
              <p class="text-light mt-3">納品期限　: 未定</p>
            <% elsif @work.days > 0 %>
              <p class="text-light mt-3">納品期限 : <%= @work.days %>日</p>
            <% else %>
              <p class="text-light mt-3">納品期限 : 期限切れ</p>
            <% end %>
          </div>
        </div>
        <div>

          <%= render 'talks/talks', talks: @talks %>
        </div>
        <div class="mb-5">
          <%= form_with(model: @talk, local: true) do |f| %>
            <%= render 'layouts/error_messages', model: f.object %>
            <%= hidden_field_tag :work_id, @work.id %>
            <%= hidden_field_tag :status_id, 0 %>
            <%= f.text_area :content, class: 'form-control', rows: 5 %>
            <%= f.submit '送信', class: 'btn btn-primary btn-block' %>
          <% end %>
        </div>
        <div class="mb-3">
          <% if @work.worker_id == current_user.id %>
            <div class="text-center">
              <h3 class="mb-5 mt-3">依頼報告・完了画面はこちら</h3>
              <div class="text-center mb-5">
                <% if @talk_report.empty? && @talk_resubmit.empty? %>
                  <div class="border shadow rounded">
                    <h4 class="bg-dark text-light">依頼の完了報告をする。</h4>
                    <%= link_to '完了報告', report_work_path(@work), class: 'btn btn-success' %>
                  </div>
                <% elsif @work.request.status == 2 %>
                  <div class="border shadow rounded bg-secondary">
                    <h4 class="bg-dark text-secondary">依頼の完了報告をする。</h4>
                    <p class="btn btn-dark mb-0 text-secondary">完了報告</p>
                  </div>
                <% elsif  !@talk_report.empty? %>
                  <div class="border shadow rounded">
                    <h4 class="bg-dark text-light">依頼の完了報告をする。</h4>
                    <%= link_to '完了報告', edit_work_path(@work, talk_id: @talk_report.first.id), class: 'btn btn-success' %>
                  </div>
                <% else %>
                  <div class="border shadow rounded">
                    <h4 class="bg-dark text-light">依頼の完了報告をする。</h4>
                    <%= link_to '完了報告', edit_work_path(@work, talk_id: @talk_resubmit.first.id), class: 'btn btn-success' %>
                  </div>
                <% end %>
              </div>
              <div class="text-center">
                <% if @work.worker_evaluations.empty? %>
                  <div class="border shadow rounded bg-secondary">
                    <h4 class="bg-dark text-secondary">完了画面で依頼を完了する。</h4>
                    <p class="btn btn-dark mb-0 text-secondary">完了画面</p>
                  </div>
                <% else %>
                  <% if @work.client_evaluations.empty? %>
                    <div class="border shadow rounded">
                      <h4 class="bg-dark text-light">完了画面で依頼を完了する。</h4>
                      <%= link_to '完了画面', done_work_path(@work), class: 'btn btn-primary' %>
                    </div>
                  <% else %>
                    <div class="border shadow rounded bg-secondary">
                      <h4 class="bg-dark text-secondary">完了画面で依頼を完了する。</h4>
                      <p class="btn btn-dark mb-0 text-secondary">完了済み</p>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% else %>
            <div class="text-center">
              <h3 class="mb-3 mt-3">作業確認はこちら</h3></h3>
              <% if @talk_report.empty? || !@work.worker_evaluations.empty? %>
                <div class="border shadow rounded bg-secondary">
                  <h4 class="bg-dark text-secondary">作業確認画面で依頼の完了をする。</h4>
                  <p class="btn btn-dark mb-0 text-secondary">作業確認</p>
                </div>
              <% else %>
                <div class="border shadow rounded">
                  <h4 class="bg-dark text-light">作業確認画面で依頼の完了をする。</h4>
                  <%= link_to '作業確認', confirm_work_path(@work), class: 'btn btn-success' %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
  