<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="card">
        <div class="card-body">
          <img class="rounded img-fluid card-img-top mt-3" src="<%= gravatar_url(current_user, { size: 300 }) %>" alt="">
          <p class="card-text text-center mt-2"><%= link_to current_user.name, user_path(current_user.id) %></p>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <h1 class="text-center text-dark text-monospace mb-5 p-3"><i class="fas fa-pen-nib mr-3"></i>依頼作成</h1>
      <div class="card mb-5 rounded shadow">
        <div class="card-header bg-danger">
          <h4 class="card-title text-light">依頼の注意事項</h4>
        </div>
        <div class="card-body">
          <ul>
            <li>企業案件や責任の大きい仕事の依頼はお控えください。依頼する場合は自己責任でお願いします。</li>
            <li>犯罪や違法行為に関するお仕事の依頼は禁止です。</li>
            <li>公序良俗に反するお仕事の依頼は禁止です。</li>
            <li>発注者、受注者ともにトラブルに発展するような言動、行動は控えるようお願いします。</li>
          </ul>
        </div>
      </div>
      
      <div class="container text-center shadow bg-dark">
        <%= form_with(model: @request, local: true) do |f| %>
          <div class="form-group required">
            <h3><%= f.label :title, '依頼名', class: 'text-light text-monospace mt-5' %></h3>
            <p><%= f.label :title, '必須', class: 'text-danger text-monospace' %></p>
            <%= f.text_field :title, class: 'form-control' %>
            <h3><%= f.label :content, '依頼内容', class: 'text-light text-monospace mt-5' %></h3>
            <p><%= f.label :content, '必須', class: 'text-danger text-monospace' %></p>
            <%= f.text_area :content, class: 'form-control', rows:10 %>
          </div>
          <div class="form-group row mt-3">
            <%= f.label :image, "提案イメージ", class:"col-md-3 text-light text-monospace" %>
            <div class="col-md-9 text-light">
              <%= f.file_field :image %>
            </div>
          </div>
          
          <div class="form-group row">
            <div class="col-md-3">
              <%= f.label :apply_days, "応募期限",  class:"text-light text-monospace" %>
              <%= f.label :apply_days, '必須', class:"text-danger text-monospace" %>
            </div>
            <div class="col-md-9">
              <%= f.date_field :apply_days %>
            </div>
          </div>
          <div class="form-group row">
            <%= f.label :deadline, "納品期限",  class:"col-3 text-light text-monospace" %>
              <div class="col-md-9">
                <%= f.date_field :deadline %>
              </div>
          </div>
          <div class="mb-2">
            <%= f.submit '依頼する', class: 'btn btn-success m-3' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>